$PRIMARY0: #313537;
$PRIMARY1: #6a737c;
$PRIMARY2: #c9c9ca;
$SECONDARY0: #adaeaf;
$SECONDARY1: #eee;
$SECONDARY2: #f7f7f7;
$SECONDARY3: #fafafa;
$SECONDARY4: #666;
$SECONDARY5: #595c5e;
$SECONDARY6: #232526;
$SECONDARY7: #e9e9e9;
$SECONDARY8: #0a0503;
$SECONDARY9: #979797;
$SECONDARY10: #dadada;
$SECONDARY11: #e5e5e5;
$SECONDARY12: #d9d9d9;
$SECONDARY13: #dfdfdf;
$SECONDARY14: #bdbebf;
$SECONDARY15: #e9e9e9;
$SECONDARY16: #8894a3;
$SECONDARY17: #272b2d;
$BLACK: #000;
$WHITE: #fff;

$SHADOW: rgba(0, 0, 0, 0.1);

$DEFAULT_ACCENT: #ff6602;
$DEFAULT_ACCENT_HOVER: #D95702;
$DEFAULT_ACCENT_FOCUS: #B34701;

$ACCENT: var(--color-accent);
$ACCENT_HOVER: var(--color-accent-hover);
$ACCENT_FOCUS: var(--color-accent-focus);
$ACCENT_DISABLED: $PRIMARY2;

$ACCENT_BLUE: #48bcf6;
$ACCENT_BLUE_HOVER: #029fd2;

$ACCENT_GREEN: #74bf44;
$ACCENT_GREEN_HOVER: #458B00;

$ACCENT_RED: #eb524d;
$ACCENT_RED_HOVER: #C4140E;

$LABEL_COURSE_COMPLETED: #9cd670;
$LABEL_COURSE_IN_PROGRESS: #ead523;
$LABEL_COURSE_OVERDUE: #f63703;
$LABEL_COURSE_NOT_STARTED: $PRIMARY2;

$INACTIVE: #dd0000;

$PAYMENT_ERROR: #bf4444;

$SUCCESS: #3b850a;
$ERROR: #e6251e;
$NOTIFICATION: #ffc900;
$EMPHASIS: #d39f00;
